.card-body{
    background-image: url("https://img.freepik.com/free-photo/clips-pencil-near-notebook_23-2147851919.jpg");

    background-repeat: no-repeat;
    background-position: 100%;
    background-size: cover;

}
 